p.main {
    font-size: 24px;
}

body {
    position: absolute;
    font-family: "Karla", sans-serif;
}

h1 {
    font-family: "oswald";
    left: 50px;
    font-size: 1.8em;
    font-weight: 100;
    z-index: 999;
}

#option {
    position: auto;
    left: 300px;
}

#datelab {
    position: absolute; 
    left: 40px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 100px;
    font-size: 1em;
}

#dateval {
    position: absolute; 
    left: 140px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 100px;
    font-size: 1em;
}

#dustlab {
    position: absolute; 
    left: 40px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 125px;
    font-size: 1em;
}

#dustval {
    position: absolute; 
    left: 140px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 125px;
    font-size: 1em;
}

#lightlab {
    position: absolute; 
    left: 40px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 150px;
    font-size: 1em;
}

#lightval {
    position: absolute; 
    left: 140px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 150px;
    font-size: 1em;
}

#templab {
    position: absolute; 
    left: 40px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 175px;
    font-size: 1em;
}

#tempval {
    position: absolute; 
    left: 140px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 175px;
    font-size: 1em;
}

#ginilab {
    position: absolute; 
    left: 40px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 200px;
    font-size: 1em;
}

#ginival {
    position: absolute; 
    left: 140px;
    font-family: "oswald", sans-serif;
    font-size: 1.3em;
    font-weight: 70;
    top: 200px;
    font-size: 1em;
}


path {
    stroke: grey;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.sensingpts {
    fill: steelblue;
}

.hover {
    fill: yellow;
}


