p.main {
    font-size: 24px;
}

body {
    position: absolute;
    font-family: "Karla", sans-serif;
}

h1 {
    font-family: "oswald";
    left: 50px;
    font-size: 1.8em;
    font-weight: 100;
    z-index: 999;
}

h2 {
    position: absolute; 
    left: 50px;
    font-size: 1.3em;
    font-weight: 100;
    top: 30px;
    font-size: 1em;
}

path {
    stroke: grey;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.sensingpts {
    fill: steelblue;
}

.hover {
    fill: yellow;
}


